* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
}

body {
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
    font-family: Montserrat;
    height: 100vh;
    background-image: url("/images/at-at-4868964_1280.jpg");
    background-size: cover;
    background-position: center center;
}




.navBar {
    width: 100%;
    //position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    background: black;
    display: flex;
    justify-content: space-between;
    opacity: 70%;
}

.StarWars_Characters {
    color: rgb(192, 192, 34);
    margin: 1%;
    background: black;
    border-radius: 10px;
    padding: 5px 5px;
    opacity: 80%;
    text-align: center;

    @media screen and (min-width: 650px) {
        font-size: 50px;
        opacity: unset;
        background: unset;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;
    }
}

.nav__bar-img {
    width: 100px;
    height: 50px;
    padding: 5px 5px;
}

.nav__bar-input {
    width: 300px;
    border-radius: 5px;
    margin: 10px;
    outline: none;
    background: lightblue;
    color: blue;
    font-size: 16px;
}

.nav__bar-input:hover {
    border: 1px solid rgb(192, 192, 34);
    color: rgb(192, 192, 34);
    box-shadow: 1px 4px rgb(192, 192, 34);
    background: black;
    opacity: 70%;
    transition: 2s;
    font-size: 16px;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // position: absolute;
}

.list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 0px;
    position: relative;
}

.popUp_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 100px 50px;
}


.elm {
    color: blue;
    font-size: 18px;
    border: 2px solid rgb(201, 196, 196);
    background: lightblue;
    margin: 1px;
    text-align: center;
    padding: 5px 5px;
    opacity: 80%;
    width: 250px;
    min-width: 250px;


}

.elm:hover {
    border: 1px solid rgb(192, 192, 34);
    color: rgb(192, 192, 34);
    box-shadow: 1px 4px rgb(192, 192, 34);
    background: black;
    opacity: 85%;
    transition: 1s;
}

.btns {
    font-size: 20px;
    color: rgb(192, 192, 34);
    background: black;
    font-weight: bold;
    padding: 5px 5px;
    border: 1px solid white;
    margin: 2px;
    outline: none;
    border: 1px solid rgb(192, 192, 34);
    opacity: 80%;

}



.pagesnumbers {
    display: flex;
    justify-content: center;

    @media screen and (min-width: 550px) {
        // width: 50px;
        // height: 50px;
        float: left;
        position: fixed;
        bottom: 0;
        margin-bottom: 10%;
    }

}


// .subwrapper {
//     display: none;
// }


.modal {
    display: flex;
    flex-direction: column;

    position: relative;
    background-color: black;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    min-width: 40%;
    min-height: 300px;
    opacity: 80%;

}

.btnModal {
    color: blue;
    background: lightblue;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-left: auto;
    outline: none;
}

.charachersName {
    font-size: 18px;
    background: red;
    text-align: center;
    margin: 5px;
    color: whitesmoke;
}

.charachers {
    color: greenyellow;
    font-size: 16px;
    word-spacing: 2px;
}

.notfound {
    color: red;
    font-weight: bold;
    font-size: 40px;
    font-weight: bold;
    background: black;
    padding: 5px 5px;
}