@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Montserrat;
  height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.75)), color-stop(55%, rgba(0, 0, 0, 0.2))), url("/images/at-at-4868964_1280.jpg");
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.2) 55%), url("/images/at-at-4868964_1280.jpg");
  background-size: cover;
  background-position: center center;
}

.navBar {
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  background: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  opacity: 70%;
}

.StarWars_Characters {
  width: 300px;
  color: #c0c022;
  border-radius: 10px;
  padding: 8px 5px;
  opacity: 80%;
  text-align: center;
  margin: 2% auto;
}

@media screen and (min-width: 650px) {
  .StarWars_Characters {
    font-size: 50px;
    opacity: unset;
    background: unset;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    width: unset;
  }
}

.nav__bar-img {
  width: 100px;
  height: 50px;
  padding: 5px 5px;
}

.nav__bar-input {
  width: 300px;
  border-radius: 5px;
  margin: 10px;
  outline: none;
  background: lightblue;
  color: blue;
  font-size: 16px;
}

.nav__bar-input:hover {
  border: 1px solid #c0c022;
  color: #c0c022;
  -webkit-box-shadow: 1px 4px #c0c022;
          box-shadow: 1px 4px #c0c022;
  background: black;
  opacity: 70%;
  -webkit-transition: 2s;
  transition: 2s;
  font-size: 16px;
}

main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1600px) {
  main {
    padding: 100px 100px;
  }
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 0px;
  position: relative;
}

@media screen and (min-width: 750px) {
  .list {
    padding: 30px 30px;
  }
}

.popUp_list {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.elm {
  color: blue;
  font-size: 18px;
  border: 2px solid #c9c4c4;
  background: lightblue;
  margin: 1px;
  text-align: center;
  padding: 5px 5px;
  opacity: 80%;
  width: 250px;
  min-width: 250px;
}

.elm:hover {
  border: 1px solid #c0c022;
  color: #c0c022;
  -webkit-box-shadow: 1px 4px #c0c022;
          box-shadow: 1px 4px #c0c022;
  background: black;
  opacity: 90%;
  -webkit-transition: 1s;
  transition: 1s;
}

.btns {
  font-size: 20px;
  color: #c0c022;
  background: black;
  font-weight: bold;
  padding: 5px 5px;
  border: 1px solid white;
  margin: 2px;
  outline: none;
  border: 1px solid #c0c022;
  opacity: 90%;
}

.pagesnumbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 550px) {
  .pagesnumbers {
    float: left;
    position: fixed;
    bottom: 0;
    margin-bottom: 10%;
  }
}

.modal {
  width: 290px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: black;
  padding: 10px;
  border: 1px solid #888;
  min-height: 300px;
  opacity: 80%;
}

@media screen and (min-width: 550px) {
  .modal {
    min-width: 400px;
  }
}

.btnModal {
  color: blue;
  background: lightblue;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-left: auto;
  outline: none;
}

.charachersName {
  font-size: 18px;
  background: red;
  text-align: center;
  margin: 5px;
  color: whitesmoke;
}

.charachers {
  color: greenyellow;
  font-size: 16px;
  word-spacing: 2px;
}

.notfound {
  color: red;
  font-weight: bold;
  font-size: 25px;
  font-weight: bold;
  background: black;
  padding: 50px 20px;
  display: inline;
  opacity: 80%;
}

.chractersTitels {
  font-size: 16px;
  text-align: center;
  margin: 10px;
  color: whitesmoke;
}
/*# sourceMappingURL=style.css.map */